<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <welcome-file-list>
     <welcome-file>Home</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Startup</servlet-name>
        <servlet-class>Startup</servlet-class>
		<load-on-startup>1</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>autocomplete</servlet-name>
        <servlet-class>autocomplete</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>autocomplete</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>
	
	
	
<servlet>
        <servlet-name>AjaxUtility</servlet-name>
        <servlet-class>AjaxUtility</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>AjaxUtility</servlet-name>
        <url-pattern>/AjaxUtility</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>UpdateProduct</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>AddProduct</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>UpdateHashmap</servlet-name>
        <servlet-class>UpdateHashmap</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>UpdateHashmap</servlet-name>
        <url-pattern>/UpdateHashmap</url-pattern>
    </servlet-mapping>
	
	
	<servlet>
        <servlet-name>LaptopList</servlet-name>
        <servlet-class>LaptopList</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>LaptopList</servlet-name>
        <url-pattern>/LaptopList</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>ProductList</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>ViewItem</servlet-name>
        <servlet-class>ViewItem</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ViewItem</servlet-name>
        <url-pattern>/ViewItem</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>DealMatchesUtilities</servlet-name>
        <servlet-class>DealMatchesUtilities</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>DealMatchesUtilities</servlet-name>
        <url-pattern>/DealMatchesUtilities</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>WriteReview</servlet-name>
        <servlet-class>WriteReview</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>WriteReview</servlet-name>
        <url-pattern>/WriteReview</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Trending</servlet-name>
        <servlet-class>Trending</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Trending</servlet-name>
        <url-pattern>/Trending</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>ModifyProduct</servlet-name>
        <servlet-class>ModifyProduct</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ModifyProduct</servlet-name>
        <url-pattern>/ModifyProduct</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>ViewReview</servlet-name>
        <servlet-class>ViewReview</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ViewReview</servlet-name>
        <url-pattern>/ViewReview</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>StoreReviews</servlet-name>
        <servlet-class>StoreReviews</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>StoreReviews</servlet-name>
        <url-pattern>/StoreReviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Cart</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>AddToCart</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Checkout</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PhoneList</servlet-name>
        <servlet-class>PhoneList</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>PhoneList</servlet-name>
        <url-pattern>/PhoneList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SmartwatchList</servlet-name>
        <servlet-class>SmartwatchList</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>SmartwatchList</servlet-name>
        <url-pattern>/SmartwatchList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SpeakerList</servlet-name>
        <servlet-class>SpeakerList</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>SpeakerList</servlet-name>
        <url-pattern>/SpeakerList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HeadphoneList</servlet-name>
        <servlet-class>HeadphoneList</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>HeadphoneList</servlet-name>
        <url-pattern>/HeadphoneList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StorageList</servlet-name>
        <servlet-class>StorageList</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>StorageList</servlet-name>
        <url-pattern>/StorageList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccessoryList</servlet-name>
        <servlet-class>AccessoryList</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>AccessoryList</servlet-name>
        <url-pattern>/AccessoryList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StorePayment</servlet-name>
        <servlet-class>StorePayment</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>StorePayment</servlet-name>
        <url-pattern>/StorePayment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TrackOrder</servlet-name>
        <servlet-class>TrackOrder</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>TrackOrder</servlet-name>
        <url-pattern>/TrackOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>SignUp</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>SalesReport</servlet-name>
        <servlet-class>SalesReport</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>SalesReport</servlet-name>
        <url-pattern>/SalesReport</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>DataVisualisation</servlet-name>
        <servlet-class>DataVisualisation</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>DataVisualisation</servlet-name>
        <url-pattern>/DataVisualisation</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Chart</servlet-name>
        <servlet-class>Chart</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Chart</servlet-name>
        <url-pattern>/Chart</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>PAChart</servlet-name>
        <servlet-class>PAChart</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>PAChart</servlet-name>
        <url-pattern>/PAChart</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>RebateTable</servlet-name>
        <servlet-class>RebateTable</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>RebateTable</servlet-name>
        <url-pattern>/RebateTable</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>SaleTable</servlet-name>
        <servlet-class>SaleTable</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>SaleTable</servlet-name>
        <url-pattern>/SaleTable</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>InReport</servlet-name>
        <servlet-class>InReport</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>InReport</servlet-name>
        <url-pattern>/InReport</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>SaleReport</servlet-name>
        <servlet-class>SaleReport</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>SaleReport</servlet-name>
        <url-pattern>/SaleReport</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>DailySale</servlet-name>
        <servlet-class>DailySale</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>DailySale</servlet-name>
        <url-pattern>/DailySale</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Inventory</servlet-name>
        <servlet-class>Inventory</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Inventory</servlet-name>
        <url-pattern>/Inventory</url-pattern>
    </servlet-mapping>





</web-app>
